In [ ]:
The task performed below is to buld a

In [1]:
import pandas as pd
#for warning
from warnings import filterwarnings
filterwarnings("ignore")  ## To remove any kind of warning

In [2]:
df = pd.read_excel('marks.xlsx')

In [3]:
df

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [4]:
# Separate the independent variable 'Hours' and the dependent variable 'Scores'
X = df[['Hours']]
y = df['Scores']

In [5]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [6]:
# Train a linear regression model
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [7]:
# Make predictions on the test set
y_pred = regressor.predict(X_test)

In [8]:
# Make a prediction
hours = 9.5
prediction = regressor.predict([[hours]])

print('Predicted score for {} hours of study per day: {:.2f}'.format(hours, prediction[0]))

Predicted score for 9.5 hours of study per day: 96.17